.football-grid{

    width:100%;

    flex:1;

    min-height:500px;

    display:flex;

}

.football-grid-test{

    flex:1;

    background:#0f172a;

    border:2px solid #2563eb;

    border-radius:12px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:22px;
}